@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height: 100vh;
    width: auto;
    margin: 0;
    padding: 0;
    font-family: Roboto;
    color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
}

/*header edits*/

.header {
    background: #c9356c;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.site-title {
    font-size: 24px;

}


.links {
    display: flex;
    text-decoration: none;
    gap: 20px;
    list-style: none;
    
}

/*introduction edits*/

.introduction {
    width: auto;
    background-color: #c9356c;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.intro-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 20px;
    gap: 10px;
    padding: 20px;
    background-color: #c3195d;
    width: 60vh;
}

.intro-title{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.intro-button {
    background-color: #680747;
    border: none;
    border-radius: 20px;
    padding: 12px 28px;
    color: #fafafa;
}

.intro-image {
    padding: 20px;
    border-radius: 20px ;
    background-color: #c3195d;
}


/*content edits*/
.content {
    height: 100vh;
    width: auto;
    background-color: #ffebeb;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.content-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
}

/*content:informational section*/
.info-title {
    padding: 30px;
    color: #36162e;
    font-size: 24px;
    font-weight: bold;
}

.info-images {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.info-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    height: 250px;
}

.card-text {
    text-align: center;
    color: #36162e;
}


img {
    max-width: 100%;
    max-height: 100%;
}

/*content:quote section*/
.content-quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; 
    background-color: #fad3cf;
    padding: 50px 100px 50px 100px;
}

.quote-proper{
    text-align: start;
    color:#36162e;
    font-size: 24px;
}

.quote-author {
    text-align: justify;
    color: #36162e;
    font-size: 14px;
}

/*content:extra section*/
.content-extra {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.extra-box {
    background-color: #c3195d;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
}

.box-text {
    padding: 50px;
}
.text-title {
    color: #36162e;
    font-size: 24px;
    text-align: start;
}

.text-yap {
    color: #36162e;
    font-size: 18px;
    text-align: start;
}

.box-button {
    padding: 50px;

}

.extra-button {
    background-color: #36162e;
    border: none;
    border-radius: 20px;
    color: #fad3cf;
    font-size: 18px;
    width: 150px;
    padding: 10px;
}

/*footer edits*/

.footer {
    background-color: #c9356c;
    text-align: center;
    padding: 10px;
}


